<footer>

    <div class="container py-4">

        <div class="row align-items-center">

            <div class="col-md-6">

                <h5 class="footer-title">

                    🔩 Ferretería Santo Cristo

                </h5>

                <p class="footer-text">

                    Sistema de ventas y pedidos online.

                </p>

            </div>

            <div class="col-md-6 text-end">

                <p class="footer-copy">

                    © 2026 Todos los derechos reservados

                </p>

            </div>

        </div>

    </div>

</footer>