.header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #10401b;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    z-index:3;
    
}

.header-title {
    text-decoration: none;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.userText {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 12px;
}

.dropdown-menu {
    box-decoration-break: none;
    border: 0;
    background-color: rgba(255, 255, 255, 0.534);
}

.dropdown-item {
    text-decoration: none;
    color: rgb(38, 38, 38);
    font-size: 12px;
}

.dropdown-item:hover {
    background-color: rgb(255, 255, 255);
}