<div class="header">
    <a class="header-title" href="/dashboard"> 
      <p class="title"><i class="bi bi-terminal"></i> FerreTech SC</p>
    </a>

    <div class="dropdown">
        <a class="userText" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-fill"></i> Ferreteria Santo Cristo <i class="bi bi-caret-down-fill"></i>
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/login">Cerrar Sesión</a></li>
        </ul>
      </div>

</div>