/* Encabezado */

.catalogo-header {

    text-align: center;

    margin-bottom: 40px;

}

.catalogo-header h1 {

    color: #1f2937;

    font-weight: 700;

    margin-bottom: 10px;

}

.catalogo-header p {

    color: #6b7280;

    font-size: 1.05rem;

}

/* Tarjeta */

.producto-card {

    border: none;

    border-radius: 15px;

    overflow: hidden;

    transition: 0.3s;

    box-shadow:
        0 4px 15px rgba(0,0,0,0.08);

}

.producto-card:hover {

    transform: translateY(-5px);

    box-shadow:
        0 10px 25px rgba(0,0,0,0.15);

}

/* Categoría */

.categoria-badge {

    background: #f59e0b;

    color: white;

    margin-bottom: 15px;

    font-size: 0.8rem;

}

/* Nombre */

.producto-nombre {

    color: #1f2937;

    font-weight: 700;

    margin-bottom: 15px;

    min-height: 50px;

}

/* Marca */

.producto-marca {

    color: #4b5563;

    margin-bottom: 8px;

}

/* Unidad */

.producto-unidad {

    color: #6b7280;

    margin-bottom: 15px;

}

/* Precio */

.producto-precio {

    color: #f59e0b;

    font-weight: 700;

    margin-top: 15px;

}

/* Botón */

.btn-agregar {

    background: #1f2937;

    color: white;

    border: none;

    border-radius: 10px;

    padding: 10px;

    font-weight: 600;

    transition: 0.3s;

}

.btn-agregar:hover {

    background: #111827;

    transform: translateY(-2px);

}

.stock-agotado {

    color: #dc3545;

    font-weight: 700;

}

.producto-stock {

    color: #6c757d;

    font-size: .9rem;

}