.main-content{
    height: 100%;
    margin-left: 300px;
    padding: 20px;
}

.separador{
    margin-top: 70px;
}
.title {
    font-size: 20px;
}

.filter {
    display: flex;
    justify-content: flex-start;   
}

.group1 {
    display: flex;
}

.group2 {
    margin-left: 40px;
}

.group3 {
    margin-left: 80px;
}

.description {
    font-size: 12px;
    color: rgb(75, 75, 75);
}

.dropdown {
    margin-left: 20px;
}

.btn.dropdown-toggle {
    border-radius: 7px;
    border-width: 0.05px;
    border-color: rgb(211, 211, 211);
    font-size: 12px;
    color: rgb(75, 75, 75);
}

.dropdown-item {
    font-size: 12px;
    color: rgb(75, 75, 75);
}

.input-group {
    width: 130%;
}

.form-control {
    font-size: 12px;
}


.table {
    margin-top: 20px;
    border-color: #727374;
    table-layout: fixed;
    width: 100%;
    text-align: start;
}

.table th, .table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
thead tr.header th {
  background-color: #667068; 
  color: white;
  font-weight: bold;
  font-size: 12px;
}
*/

thead tr.header th {
  font-size: 12px;
}

.body {
    font-size: 11px;
}

.modal-body {
    font-size: 12px;
}

.form-label {
    font-size: 12px;
}

.form-select {
    font-size: 12px;
}

.btn {
    font-size: 12px;
}

.input-group-text {
    font-size: 12px;
}

.text-danger {
    margin-left: 5px;
}

.dropdown {
    width: 100px;
}

.pagination {
    display: flex;
    gap: 8px;
    padding: 0;
    margin-top: 1rem;
  }
  
  .page-item {
    list-style: none;
  }
  
  .page-link {
    border: 1px solid #d1d5db; /* borde gris suave */
    border-radius: 8px;
    padding: 6px 12px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 12px;
  }
  
  .page-link:hover {
    background-color: #f3f4f6; /* gris más claro al pasar */
    color: #111;
    cursor: pointer;
  }
  
  .page-item.active .page-link {
    background-color: #10401b; /* azul fuerte Bootstrap-like */
    color: white;
    border-color: #10401b;
    font-weight: 500;
  }
  
  .page-item.disabled .page-link {
    background-color: #e9ecef;
    color: #707d6c;
    pointer-events: none;
    border-color: #dee2e6;
    font-style: italic;
  }
  

  .spinner-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #10401b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
