<app-header />
<app-sidebar />

<main class="main-content">
  <div class="separador">
    <div class="header-title">
      <p class="title">Nueva Orden de Compra</p>
    </div>

    <div class="formulario">
          <form class="row g-3" [formGroup]="ordenCompraForm">           
            <!--emision-->
            <div class="col-md-3">
              <label for="inputEmision" class="form-label">Fecha de Emisión</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-calendar-event"></i>
                </span>
                <input type="text" class="form-control" id="inputEmision" formControlName="fechaCreacion"/>
              </div>
            </div>
            <!-- Proveedor -->
            <div class="col-md-6">
              <label for="inputProveedor" class="form-label">
                Proveedor
                <a class="newClient" href="#" data-bs-toggle="modal" data-bs-target="#modalNuevoProveedor">[+ Nuevo]</a>
              </label>

              <!-- Campo de búsqueda, NO parte del formGroup -->
              <div class="dropdown input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Buscar Proveedor"
                  [ngModel]="proveedorSearchTerm"
                  (ngModelChange)="onProveedorInputChange($event)"
                  [ngModelOptions]="{ standalone: true }"
                  name="proveedorSearch"
                />

                <ul *ngIf="filteredProveedores.length && proveedorSearchTerm" class="dropdown-menu show" style="width: 100%">
                  <li *ngFor="let proveedor of filteredProveedores">
                    <a class="dropdown-item" (click)="onSelectProveedor(proveedor)">
                      {{ proveedor.nroDoc }} - {{ proveedor.nombre }}
                    </a>
                  </li>
                </ul>
              </div>

              <!-- Campo oculto que sí pertenece al formulario -->
              <input type="hidden" formControlName="proveedor" />
            </div>
          </form>
    </div>

    <div class="button-agregar">
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalAdd">
        <i class="bi bi-plus" style="color: aliceblue;"></i> Agregar Producto
      </button>
    </div>

    <table class="table">
      <thead>
        <tr class="header">
          <th scope="col">Codigo</th>
          <th scope="col">Producto/Servicio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="body">
        <tr *ngFor="let p of paginatedDetalles">
          <td>{{ p.codigo }}</td>
          <td>{{ p.nombre }}</td>
          <td>
            <input type="number" [(ngModel)]="p.cant" (ngModelChange)="actualizarSubtotal(p)"
            class="form-control form-control-sm text-center mx-auto" min="1" style="width: 55px;"/>
          
          </td>
          <td>{{ p.precio }}</td>
          <td>{{ p.subtotal.toFixed(2) }}</td>
          <td>
            <button class="actions" (click)="aumentarCantidad(p)" title="Aumentar"><i class="bi bi-plus-lg"></i></button>
            <button class="actions" (click)="disminuirCantidad(p)" title="Disminuir"><i class="bi bi-dash-lg"></i></button>
            <button class="actions" (click)="eliminarElemento(p.codigo)"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="position-absolute text-end"
      style="right: 1.5rem; bottom: 1.5rem"
    >
      <div style="font-size: 0.85rem">
        
        <div class="mb-2">
          <strong>Total:</strong> S/ <span id="total">{{ total.toFixed(2) }}</span>
        </div>
      </div>
      <button class="btn" style="background-color: #10401b;" (click)="registrarCompra()">Generar Orden</button>
    </div>

    <nav *ngIf="totalPages > 1" class="mt-3" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)">Anterior</a>
        </li>
        <li class="page-item"
            *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1">
          <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)">Siguiente</a>
        </li>
      </ul>
    </nav>

    <!-- MODAL AGREGAR -->

    <div
      class="modal fade modal-lg"
      id="modalAdd"
      tabindex="-1"
      aria-labelledby="modalAdd"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalAdd">Agregar Producto</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="clearSearch()"
            ></button>
          </div>
          <div class="modal-body">
            <form class="row g-3">
              <!-- Buscar Producto -->
              <div class="col-12">
                <label class="form-label">Producto</label>
                <div class="dropdown input-group">
                  <input
                    type="text"
                    class="form-control dropdown-toggle"
                    id="dropdownInput"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    placeholder="Buscar Producto"
                    [(ngModel)]="searchTerm"
                    name="busqueda"
                    (ngModelChange)="onElementChange($event)"
                    [attr.data-bs-auto-close]="'outside'"
                  />

                  <button
                    *ngIf="searchTerm"
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="clearSearch()"
                  >
                    <i class="bi bi-x-circle"></i>
                  </button>

                  <ul
                    class="dropdown-menu"
                    id="dropdownOptions"
                    style="width: 100%"
                  >
                    <li *ngFor="let elemento of filteredDatos">
                      <a
                        class="dropdown-item"
                        (click)="onSelectElement(elemento)"
                      >
                        {{ elemento.codInt }} - {{ elemento.nombre }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Cantidad -->
              <div class="col-md-4">
                <label for="inputCantidad" class="form-label">Cantidad</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputCantidad"
                  value="1"
                  min="1"
                  name="cantidad"
                  [(ngModel)]="cantidad"
                  (ngModelChange)="onValueSubTotal()"
                />
              </div>

              <!-- Precio Unitario -->
              <div class="col-md-4">
                <label for="inputPrecio" class="form-label"
                  >Precio Unitario</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="inputPrecio"
                  [value]="elementoSeleccionado?.precio"
                  min="0"
                  [readonly]="true"
                  name="precioSeleccionado"
                />
                <!-- Esto hace que el campo sea solo lectura -->
              </div>

              <!-- Total -->
              <div class="col-md-4">
                <label for="inputTotal" class="form-label">Total</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputTotal"
                  name="total"
                  [(ngModel)]="subtotal"
                  [value]="subtotal"
                  readonly
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="clearSearch()"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn"
              style="background-color: #10401b;"
              (click)="onRegisterElement()"
            >
              Registrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL NUEVO PROVEEDOR -->
    <div
      class="modal fade"
      id="modalNuevoProveedor"
      tabindex="-1"
      aria-labelledby="modalNuevoProveedorLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalNuevoProveedorLabel">Nuevo Proveedor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>

          <div class="modal-body">
            <form class="row g-3" [formGroup]="proveedorForm" (ngSubmit)="registrarProveedor()">
              <!-- Tipo de documento -->
            <div class="col-md-12">
                <label for="tipoDocumento" class="form-label"
                  >Tipo de Documento</label
                >
                <select
                  id="tipoDocumento"
                  class="form-select"
                  formControlName="tipoDoc"
                >
                  <option value="DNI" selected>DNI</option>
                  <option value="RUC">RUC</option>
                </select>
              </div>
  
              <!-- Número de documento -->
              <div class="col-md-12">
                <label for="numeroDocumento" class="form-label"
                  >Número de Documento</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="numeroDocumento"
                  formControlName="nroDoc"
                />
              </div>
  
              <!-- Nombre -->
              <div class="col-md-12">
                <label for="nombreCliente" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombreCliente"
                  formControlName="nombre"
                />
              </div>
  
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="resetFormulario()"
                >
                  Cancelar
                </button>
                <button
                  type="submit"
                  [disabled]="proveedorForm.invalid"
                  class="btn"
                  style="background-color: #10401b;"
                  data-bs-dismiss="modal"
                >
                  Registrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  
  </main>
  