<app-navbar-principal/>

<div class="main-content">

    <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img1.jpg" class="d-block w-100" alt="imagen1">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    
    <div class="container mt-5">
        <div class="title-cards text-center mb-4">
            <h4>Productos destacados</h4>
        </div>
        <!-- Fila de cards -->
        <div class="row">
          <!-- Card 1 -->
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="cemento.jpg" class="card-img-top p-3 mx-auto" style="max-height: 300px; width: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <p class="card-text">Marca: Sol</p>
                <p class="card-text">Precio: 29.90</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>
      
          <!-- Card 2 -->
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="cemento.jpg" class="card-img-top p-3 mx-auto" style="max-height: 300px; width: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Descripción breve del producto para mostrar en la tarjeta.</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>
      
          <!-- Card 3 -->
          <div class="col-md-4">
            <div class="card" style="width: 100%;">
              <img src="cemento.jpg" class="card-img-top p-3 mx-auto" style="max-height: 300px; width: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title">Producto 3</h5>
                <p class="card-text">Descripción breve del producto para mostrar en la tarjeta.</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>
        </div>
    </div>
      
</div>