.main-content {
    padding: 20px;
    padding-top: 120px; /* Ajusta esto para que el contenido no quede debajo del header y navbar */
}

@media (max-width: 768px) {
    .header {
        height: 90px; /* Puedes ajustar la altura para pantallas más pequeñas si es necesario */
    }

    .navbar {
        margin-top: 90px; /* Esto asegura que el navbar se posicione debajo del header */
    }

    .main-content {
        padding-top: 40px; /* Ajusta esto para pantallas pequeñas */
    }
}
