<div class="container">
  <div class="signup-container">
    <h3 class="signup-title">Registro</h3>

    <form [formGroup]="signupForm">
      <!-- Mensaje de error general -->
      <div
        *ngIf="formSubmitted && signupForm.invalid"
        class="alert alert-danger"
      >
        Por favor, corrige los errores en el formulario.
      </div>

      <div class="row">
        <!-- Tipo de Documento -->
        <div class="mb-3 col-md-6">
          <label for="tipoDoc" class="form-label">Tipo de Documento</label>
          <select
            formControlName="tipoDoc"
            id="tipoDoc"
            class="form-select"
            [ngClass]="{
              'is-invalid':
                (f['tipoDoc'].touched || formSubmitted) && f['tipoDoc'].errors
            }"
          >
            <option value="" disabled>Seleccione un tipo</option>
            <option value="dni">DNI</option>
            <option value="ruc">RUC</option>
          </select>
          <div
            *ngIf="
              (f['tipoDoc'].touched || formSubmitted) && f['tipoDoc'].errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="f['tipoDoc'].errors['required']">Campo obligatorio</div>
          </div>
        </div>

        <!-- Número de Documento -->
        <div class="mb-3 col-md-6">
          <label for="documentNumber" class="form-label"
            >Número de Documento</label
          >
          <input
            formControlName="nroDoc"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (f['nroDoc'].touched || formSubmitted) && f['nroDoc'].errors
            }"
            id="documentNumber"
            [maxlength]="f['tipoDoc'].value === 'ruc' ? 11 : 8"
          />
          <div
            *ngIf="(f['nroDoc'].touched || formSubmitted) && f['nroDoc'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['nroDoc'].errors['required']">Campo obligatorio</div>
            <div *ngIf="f['nroDoc'].errors['pattern']">
              {{
                tipoDocSeleccionado === "ruc"
                  ? "Debe tener 11 dígitos"
                  : "Debe tener 8 dígitos"
              }}
            </div>
          </div>
        </div>
      </div>

      <!-- Nombre -->
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          formControlName="nombre"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (f['nombre'].touched || formSubmitted) && f['nombre'].errors
          }"
          id="name"
        />
        <div
          *ngIf="(f['nombre'].touched || formSubmitted) && f['nombre'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['nombre'].errors['required']">Campo obligatorio</div>
          <div *ngIf="f['nombre'].errors['minlength']">
            Debe tener al menos 3 caracteres
          </div>
          <div *ngIf="f['nombre'].errors['onlyLetters']">
            Solo se permiten letras
          </div>
        </div>
      </div>

      <!-- Apellido
      <div class="mb-3">
        <label for="lastname" class="form-label">Apellido</label>
        <input 
          formControlName="apellido"
          type="text" 
          class="form-control" 
          [ngClass]="{ 'is-invalid': (f['apellido'].touched || formSubmitted) && f['apellido'].errors }"
          id="lastname" 
        >
        <div *ngIf="(f['apellido'].touched || formSubmitted) && f['apellido'].errors" class="invalid-feedback">
          <div *ngIf="f['apellido'].errors['required']">Campo obligatorio</div>
          <div *ngIf="f['apellido'].errors['minlength']">Debe tener al menos 3 caracteres</div>
          <div *ngIf="f['apellido'].errors['onlyLetters']">Solo se permiten letras</div>
        </div>
      </div>-->

      <!-- Teléfono -->
      <div class="mb-3">
        <label for="phone" class="form-label">Teléfono</label>
        <input
          formControlName="telefono"
          type="tel"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (f['telefono'].touched || formSubmitted) && f['telefono'].errors
          }"
          id="phone"
          maxlength="9"
        />
        <div
          *ngIf="
            (f['telefono'].touched || formSubmitted) && f['telefono'].errors
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['telefono'].errors['required']">Campo obligatorio</div>
          <div *ngIf="f['telefono'].errors['pattern']">
            Ingrese un número valido
          </div>
        </div>
      </div>

      <!-- Correo Electrónico -->
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input
          formControlName="correo"
          type="email"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (f['correo'].touched || formSubmitted) && f['correo'].errors
          }"
          id="email"
        />
        <div
          *ngIf="(f['correo'].touched || formSubmitted) && f['correo'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['correo'].errors['required']">Campo obligatorio</div>
          <div *ngIf="f['correo'].errors['email']">
            Ingresa un correo válido
          </div>
          <div *ngIf="f['correo'].errors?.['correoNoPermitido']">
            Solo se aceptan gmail.com, hotmail.com o outlook.es
          </div>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (f['password'].touched || formSubmitted) && f['password'].errors
          }"
          id="password"
        />
        <div
          *ngIf="
            (f['password'].touched || formSubmitted) && f['password'].errors
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['password'].errors['required']">Campo obligatorio</div>
          <div *ngIf="f['password'].errors['minlength']">
            Debe tener al menos 8 caracteres
          </div>
          <div *ngIf="f['password'].errors['passwordStrength']">
            Debe contener mayúsculas, minúsculas, números y símbolos
          </div>
        </div>
      </div>

      <!-- Confirmar Contraseña -->
      <div class="mb-3">
        <label for="confirmPassword" class="form-label"
          >Confirmar Contraseña</label
        >
        <input
          formControlName="confirmarPassword"
          type="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': (f['confirmarPassword'].touched || formSubmitted) && 
                          (f['confirmarPassword'].errors || signupForm.errors?.['passwordMismatch']) }"
          id="confirmPassword"
        />
        <div
          *ngIf="(f['confirmarPassword'].touched || formSubmitted) && 
          (f['confirmarPassword'].errors || signupForm.errors?.['passwordMismatch'])"
          class="invalid-feedback"
        >
          <div *ngIf="f['confirmarPassword'].errors?.['required']">
            Campo obligatorio
          </div>
          <div *ngIf="signupForm.errors?.['passwordMismatch']">
            Las contraseñas no coinciden
          </div>
        </div>
      </div>

      <button
        type="button"
        (click)="registrar()"
        class="btn btn-primary btn-signup w-100"
      >
        Registrarse
      </button>

      <div class="login-link mt-3 text-center">
        ¿Ya tienes una cuenta?
        <a routerLink="/login" class="text-decoration-none">Inicia sesión</a>
      </div>
    </form>
  </div>
</div>
